{% extends 'base.html' %}

{% block content %}
  <main>
    <h1>My Projects</h1>
    <p>You are not assigned to any projects</p>
    <table>
      <thead>
        <a>tasks</a>
        <tr>
          <th>Name</th>

          <th>Number of tasks</th>

        </tr>
      </thead>
    </table>
  </main>
{% endblock content %}